@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

.component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div {
    line-height: 1;
  }
}

// align content
.center {
  width: fit-content;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// text style
.text {
  font-family: $font-secondary;
  color: $color-violet;
  font-size: fs(small);
}

// name svgs
.name {
  width: auto;
  height: 4.5rem;
  padding: 2px 0 0 2px;
}

// aka & hand
.text-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    // hand
    &:first-child {
      text-align: right;
      font-size: fs(large);
      padding: spacing(xx-big);

      // hand animation
      @keyframes moveUpDown {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-.6rem);
        }
        100% {
          transform: translateY(0);
        }
      }

      animation: moveUpDown 2s ease-in-out infinite;
    }

    // aka
    &:nth-child(2) {
      text-align: center;
      font-family: $font-primary;
      font-size: fs(x-small);

      span {
        font-size: fs(medium);
      }
    }
  }
}

// media queries
@include mq ($bp-tablet) {
  .name{
    height: 7rem;
    padding-right: 3px;
  }

  .text {
    font-size: fs(x-large);
  }

  .text-bottom {
    // hand
    p {
      &:first-child {
        font-size: fs(big);
      }

      // aka
      &:nth-child(2) {
        font-size: fs(small);

        span {
          font-size: fs(large);
        }
      }
    }
  }

  
}

@include mq ($bp-laptop) {
  .name {
    height: 10rem;
    padding-right: 4px;
  }

  .text {
    font-size: fs(x-big);
  }

  .text-bottom {

    // hand
    p {
      &:first-child {
        font-size: fs(x-big);
      }
    }
  }
}

@include mq ($bp-desktop) {
  .name {
    height: 13rem;
    padding-right: 5px;
  }

  .text {
    font-size: 4rem;
  }

  .text-bottom {

    // hand
    p {
      &:first-child {
        font-size: fs(huge);
      }
    }
  }
}