@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

#section-404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text {
    font-size: fs(large);
    color: $color-gray-lighter;
    text-align: center;

    &-404 {
      font-size: fs(huge);
    }

    &-link {
      text-decoration: none;
      color: $color-gray-lighter;
      font-family: $font-primary;
      cursor: pointer;
      transition: font-size 0.3s ease;
      font-size: fs(x-large);
      margin: spacing(x-big);

      &:hover {
        font-size: fs(big);
        color: $color-buff-lighter;
      }
    }
  }
}