@import '../../scss/variables';
@import '../../scss/functions';

.menssage-container {
  position: absolute;
  bottom: -0.1875rem;
  left: 10%;
  transition: bottom 1s;
}

.menssages {
  position: absolute;
  top: 80px;
  left: 30px;
}

.menssage-first {
  background-color: $color-buff-dark;
  border-radius: 20px 20px 0 20px;
  padding: 10px;
  width: 230px;
  text-align: right;
  box-shadow: 0 0 20px $color-violet-darker;
}

.menssage-second {
  background-color: $color-buff-dark;
  border-radius: 20px 0 20px 20px;
  padding: 10px;
  width: 230px;
  text-align: right;
  box-shadow: 0 0 20px $color-violet-darker;
  margin-top: 10px;
}

.svg-class {
  width: 287px;
  height: 251px;
}

.btn-no-class{
  border: 0;
  background: transparent;
}

@media only screen and (max-width: 768px ) and ( max-height: 800px ) {
  .menssage-container {
    bottom: -12rem;

    &.toggle-phone {
      bottom: -0.1875rem;
    }
  }
}