@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/utilities';
@import '../../scss/mixins';

.single-project {
  display: flex;
  align-items: center;
  flex-direction: column;

  color: $color-gray-lighter;
  font-family: $font-primary;

  h1 {
    font-size: fs(x-large);
    padding-top: spacing(x-big);
  }

  .image {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: spacing(x-big);
  }

  &-description {
    padding: spacing(x-big);
  }
}
