@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

#section-about {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: $color-violet-lighter;
  font-family: $font-primary;
  padding: 0 5%;
  padding-top: 15%;

  h1 {
    font-size: fs(x-large);
    margin-bottom: spacing(x-small);

    @include mq ($bp-tablet) {
      font-size: fs(x-big);
    }

    @include mq ($bp-laptop) {
      font-size: fs(huge);
    }
  }
  
  > div {
    margin: 0 spacing(huge);

    p {
      margin-top: spacing(xx-small);
      line-height: 1.125rem;
    }

    p:last-of-type.font-weight-bold {
      text-align: right;
      font-size: fs(medium);
      margin-top: spacing(x-small);

      @include mq ($bp-tablet) {
        font-size: fs(medium);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #section-about {
    padding-top: 100px;
    justify-content: flex-start;
    font-size: fs(x-small);
    padding-left: spacing(x-small);
    padding-right: spacing(x-small);

    > div {
      margin: 0 1.5rem;
    }
  }
}