@import '../../scss/variables';
@import '../../scss/functions';

#section-about {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-violet-lighter;
  font-family: $font-primary;

  h1 {
    font-size: fs(big);
    margin-bottom: spacing(x-big);
    margin-top: 5.5rem;
  }
  
  > div {
    margin: 0 spacing(huge);

    p {
      margin-top: spacing(xx-small);
    }

    p:last-of-type.font-weight-bold {
      text-align: right;
      font-size: fs(medium);
      margin-top: spacing(x-small);
    }
  }
}