@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

#section-about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-color: $color-violet-lighter;
  font-family: $font-primary;
  padding: 0 10%;
  padding-bottom: 7rem;

  h1 {
    font-size: fs(x-big);
    margin-bottom: spacing(x-big);
  }
  
  > div {
    margin: 0 spacing(huge);

    p {
      margin-top: spacing(xx-small);
      line-height: 120%;
    }

    p:last-of-type.font-weight-bold {
      text-align: right;
      font-size: fs(medium);
      margin-top: spacing(x-small);
    }
  }
}

@media only screen and (max-width: 1024px) {
  #section-about {
    padding: 0;
    padding-top: 100px;
    justify-content: flex-start;

    h1 {
      font-size: fs(large);
    }

    > div {
      margin: 0 spacing(huge);

      p:last-of-type.font-weight-bold {
        font-size: fs(small);
      }
    }
  }
}