@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

.bg-color-buff {
  color: $color-gray-lighter;
  align-items: flex-start;
  padding: 15%;

  h1 {
    margin-bottom: spacing(x-big);
    font-size: fs (x-large);
  }

  a {
    text-decoration: none;
    color: inherit;
    font-family: $font-primary;
    align-items: center;
  }
}

@include mq ($bp-tablet) {
  .bg-color-buff {
    h1 {
      font-size: fs(big);
    }

    a {
      font-size: fs(x-small);
    }
  }
}

@include mq ($bp-laptop) {
  .bg-color-buff {
    h1 {
      font-size: fs(x-big);
    }

    a {
      font-size: fs(medium);
    }
  }
}