@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

.a-nav {
  all: unset;
  cursor: pointer;
  font-family: $font-headers;
  font-size: fs(large);
  padding-left: spacing(huge);

  @include mq ($bp-desktop) {
    font-size: fs(big);
  }
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: spacing(xx-big);

  @include mq ($bp-laptop) {
    padding: spacing(xx-big);
  }
}

.nav-button {
  all: unset;
  font-size: fs(big);
  display: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $color-violet;
}

.link-item {
  margin: 0 .5rem;
}

@media screen and (max-width:768px){

  .nav-button {
    display: flex;
  }

  .main-nav {
    width: 100vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease;

    &.isActive {
      height: 100vh;
      opacity: 1;

      position: fixed;
      top: 0;
      left: 0;

      .a-nav {
        padding-left: 0;
      }

      .nav-links {
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: space-around;
        flex-direction: column;
        background-color: $color-rose-lighter;
      }

      .link-item {
        height: 33.33vh;
        width: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .color-about {
        background-color: $color-violet-lighter;
        color: $color-gray-lighter;
      }

      .color-projects {
        background-color: $color-blue;
      }

      .color-contact {
        background-color: $color-buff;
        color: $color-gray-lighter;
      }
    }
  }
}

.nav-burger {
  z-index: 9999;
}

.c-icon {
  fill: $color-buff-dark;
}