@import '../../scss/variables';
@import '../../scss/functions';

.a-nav {
  all: unset;
  font-family: $font-details;
  cursor: pointer;
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: spacing(huge);
}

.nav-button {
  all: unset;
  font-size: fs(big);
  display: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.link-item {
  margin: 0 .5rem;
}

@media screen and (max-width:700px){

  .nav-button {
    display: flex;
  }

  .main-nav {
    width: 100vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease;
  }

  .main-nav.isActive {
    height: 100vh;
    opacity: 1;
  }

  .nav-links {
    flex-direction: column;
  }

  .link-item {
    margin: 1rem 0;
  }

}