// color bucle
@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }
  .bg-#{$color} {
    background-color: $value;
  }
}

// weight bucle
@each $weight, $value in $weights {
  .font-#{$weight} {
    font-weight: $value;
  }
}