/* COLORS */
// violet
$color-violet-lighter: #9D759F;
$color-violet-light: #835C84;
$color-violet: #624563;
$color-violet-dark: #473248;
$color-violet-darker: #2A1D2A;

// rose
$color-rose-lighter: #E0C7CB;
$color-rose-light: #CEA6AC;
$color-rose: #BC858D;
$color-rose-dark: #AA646E;
$color-rose-darker: #8D4E57;

// buff
$color-buff-lighter: #F3CDB4;
$color-buff-light: #ECAF88;
$color-buff: #E5925C;
$color-buff-dark: #DE7530;
$color-buff-darker: #BD5D1E;

// blue
$color-blue-lighter: #E0E6F0;
$color-blue-light: #BEC9DF;
$color-blue: #9CADCE;
$color-blue-dark: #7A91BD;
$color-blue-darker: #5875AC;

// gray
$color-gray-lighter: #EEEDED;
$color-gray-light: #C6C6C6;
$color-gray: #9D9D9D;
$color-gray-dark: #7B7A7A;
$color-gray-darker: #414141;

// color map
$colors: (
  "color-violet-lighter": $color-violet-lighter,
  "color-violet-light": $color-violet-light,
  "color-violet": $color-violet,
  "color-violet-dark": $color-violet-dark,
  "color-violet-darker": $color-violet-darker,

  "color-rose-lighter": $color-rose-lighter,
  "color-rose-light": $color-rose-light,
  "color-rose": $color-rose,
  "color-rose-dark": $color-rose-dark,
  "color-rose-darker": $color-rose-darker,

  "color-buff-lighter": $color-buff-lighter,
  "color-buff-light": $color-buff-light,
  "color-buff": $color-buff,
  "color-buff-dark": $color-buff-dark,
  "color-buff-darker": $color-buff-darker,

  "color-blue-lighter": $color-blue-lighter,
  "color-blue-light": $color-blue-light,
  "color-blue": $color-blue,
  "color-blue-dark": $color-blue-dark,
  "color-blue-darker": $color-blue-darker,

  "color-gray-lighter": $color-gray-lighter,
  "color-gray-light": $color-gray-light,
  "color-gray": $color-gray,
  "color-gray-dark": $color-gray-dark,
  "color-gray-darker": $color-gray-darker,
);

/* TYPOGRAPHY */
$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'Space Mono', monospace;
$font-details: 'Climate Crisis', cursive;

$font-medium: 100%;
$font-headers: $font-secondary;

// sizes
$font_sizes: (
    "small": 1.2,
    "medium": 1.5,
    "large": 1.8,
    "x-large": 2,
    "big": 2.4,
    "x-big": 3,
    "huge": 5,
    "x-huge": 7
);

// weight
$weight-bold: 700;
$weight-regular: 400;

$weights: (
  "weight-bold": $weight-bold,
  "weight-regular": $weight-regular,
);

/* MARGINS & PADDINGS */
$margins: (
  "xx-small" :    .75,
  "x-small"  :    1,
  'x-big'    :    1.5,
  "xx-big"   :    2,
  "huge"     :    2.25
);