@import './variables';
@import './functions';
@import './typography';
@import './utilities';

html {
  font-size: $font-medium;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

.component-container {
  height: 100vh;
}